.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-todoitem-text {
  display: inline-block;
}

.App-todoitem-btn {
  color: lightslategray;
  margin-left: 1em;
  border: none;
  background: none;
}

.App-todoitem-btn:hover {
  background-color: lightcoral;
}
